# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Testing / Coverage
.pytest_cache/
htmlcov/
.coverage

# OS files
.DS_Store
Thumbs.db
